<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.4.0/css/ngDialog.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.4.0/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="css\style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.4.0/js/ngDialog.min.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/lgu7qnq.css">
    <script src="js\game.js"></script>

</head>

<body ng-app="bingoGameApp" 
    ng-controller="bingoGameController"
    ng-init="init()">
    <div class="gameContainer">
        
        <div class="highlightBox"></div>

        <div class="logo"><img src="img/DFA_ValueIntegrity.svg" alt="DFA Value Integrity Logo"></div>
        <div class="DFA_DripSeal"><img src="img/DFA_DripSeal.svg" alt="DFA Value Integrity Seal"></div>
        <div class="mobile">
            Please use a non-mobile device to play the game. Thank you.
        </div>
        <div class="nonMobile">

        
            <h2>How to play:</h2>
            <div class="rules">
                <p>In honor of Value Integrity Week, we’re playing a game of RAISE IT bingo. First, get out your Code of Conduct or view the online version <a href="https://issuu.com/dairyfarmersofamerica/docs/legabk1902_codeofconduct_fnl_issuu?fr=sNWMxZDc0MTUyNg" target="_blank">here</a>. You’ll need more than luck to complete this game. Answer the questions in numerical order, using your Code of Conduct and Value Integrity knowledge, and match the answers to the bingo card. Once you've answered the question correctly, your bingo square will turn Value Integrity red.</p>

                <p>Once you’ve won – across, horizontal or vertical – submit your name and email address for a chance to win prizes.</p>
                
                <p> <strong> Winners will be chosen at each location Friday, April 9, so make sure to complete the word bingo by 3 p.m. CST, Thursday, April 8.</strong></p>

                <p>Use these helpful hints to get started: 
                    <ul>
                        <li>Refer to the social media for questions 1-3</li>
                        <li>For questions 4-6, always act with integrity</li>
                        <li>Know who to report concern to using the Integrity Helpline for questions 7-9</li>
                        <li>For questions 10-12, stay safe and compete fairly</li>
                        <li>Questions 13-15: Everyone should know bullying, harassment, and discrimination are not tolerated </li>
                    </ul>
                </p>
            </div>

            <div class="game">
                <div class="board">
                    <div class="box" ng-class="[{'blockedBox': a.isBoxBlocked},{'correctAnswer': a.isCorrect},{'gameOverCorrectAnswer': (isGameOver && a.isPartOfWinningRow)}]" 
                        ng-repeat="a in answers" ng-click="clickAnswer(a)">
                        {{a.label}}
                    </div>
                </div>
                <div class="list">
                    <h2>Questions:</h2>
                    <hr/>
                    <br ng-show="currentQuestionIndex != 0" />
                    <div class="question" ng-class="{'activeQuestion': $index === currentQuestionIndex}" ng-repeat="q in questions">        
                        <div>{{($index + 1) + ') ' + q.text}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="wrongAnswerModalTemplate">
        <div class="modalContainer">
            <h3 class="modalHeader">Incorrect</h3>
            <div class="modalText">
                Please try again
            </div>
            <button type="button" class="modalButton modalOkButton" ng-click="closeModal()">
                OK
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="gameOverModalTemplate">
        <div class="modalContainer">
            <h3 class="modalHeader">Thanks for playing RAISE IT bingo</h3>
            <div class="modalText">
                Submit your name and email for a chance to win a Value Integrity Week prize. Thank you for participating.
            </div>
            <input id="firstName" type="text" placeholder="First name" class="modalInput" ng-class="{'modalDisabled': isSavingEmail}" ng-model="modalData.firstName" />
            <input type="text" placeholder="Last name" class="modalInput" ng-class="{'modalDisabled': isSavingEmail}" ng-model="modalData.lastName" />
            <input type="text" placeholder="Email" class="modalInput" ng-class="{'modalDisabled': isSavingEmail}" ng-model="modalData.userEmail" />
            <button type="button" class="modalButton" ng-class="{'modalDisabled': isSavingEmail}" ng-click="submitEmail()">
                Submit
            </button>
            <div class="modalError">
                {{modalData.errorMessage}}
                {{modalFeedbackDisplay()}}
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="saveSuccessModalTemplate">
        <div class="modalContainer">
            <h3 class="modalHeader">Your response has been recorded</h3>
            <div class="modalText">
                Thanks for playing!
                <div>
                    <a class="link" href="https://dfamilk.sharepoint.com/sites/EthicsandCompliance/">More information</a>
                </div>
            </div>
        </div>
    </script>

</body>

</html>
